body {
    background-color: rgb(173, 113, 230);
}
header {
    color: cornsilk;
    font-size: 18pt;
    background-color: chocolate;
    padding: 10px;
    padding-left: 50px;
    border-radius: 70px;
    margin: 20px;
}
main {
    background-color: rgb(212, 133, 76);
    padding: 10px;
    padding-left: 50px;
    border-radius: 70px;
    margin: 20px;
}
li{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
footer {
    background-color: rgb(211, 162, 128);
    padding: 10px;
    padding-left: 50px;
    border-radius: 70px;
    margin: 20px;
}