body {
    background-color: #D7C49EFF;
    margin: 0px;
}
header {
    color: #D7C49EFF;
    background-color: #343148FF;
    width: 100%;
}
h1{
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    padding-left: 40px;
    font-size: 25pt;
    font-family: 'Jura';
}
.pages{
    display: inline-block;
    padding: 10px;
    font-size: 10pt;
    color: #D7C49EFF;
    text-align: center;
    font-family: 'Jura';
    font-weight: bolder;
    background: linear-gradient(to right,
    #D7C49EFF 50%, rgb(216, 206, 186) 50%, white 50%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}
.pages:hover{
    background-position: -100%;
}
.pages a{
    text-decoration: none;
    color: #D7C49EFF;
}
.pages a:hover{
    color: white;
}
a :visited{
    color: #D7C49EFF;
    text-decoration: none;
}
main {
    padding: 10px;
    margin: 30px;
}
p{ 
    font-size: 13pt;
    color: #343148FF;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Quicksand';
}
h2{ 
    font-family: 'jura';
    font-weight: bolder;
    font-size: 16pt;
    color: #343148FF;
}
.duo {
    margin-right: 25px;
    background-color: #343148FF;
    display: inline-block;
    padding: 20px;
}
.duo img{
    max-width: 100%;
    transition: transform 2s;
}
.duo{
    position: relative;
}
.duo img:hover{
    transform: scale(1.1);
}
.series {
    text-align: center;
    font-size: 13pt;
    padding-bottom: 20px;
    color: #D7C49EFF;
    font-family: 'jura';
    font-weight: bolder;
    background: linear-gradient(to right,
    #D7C49EFF 50%, rgb(216, 206, 186) 50%, white 50%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}
.series:hover{
    background-position: -100%;
}
.series a{
    text-decoration: none;
    color:  #D7C49EFF
}
.series a:hover{
    color:white;
}
.series :visited{
    color:  #D7C49EFF
}
footer {
    font-family: 'Quicksand';
    margin: 45px;
    color: #343148FF
}