@import url('https://fonts.google.com/specimen/Quicksand?query=quicksa#standard-styles');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    /* border: solid black; */
  }
  .navbar {
    background-color: rgba(0, 0, 0,0.2);
    backdrop-filter: blur(8px);
    padding: 20px;
    margin: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-left: 80%;
  }
  .pages {
    display: flex;
    font-size: 2em;
    margin-right: 3%
  }
  .pages_inner {
    color: black;
    margin: 20px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
  }
  .pages:hover{
    background-position: -100%;
  }
  .pages a{
    text-decoration: none;
    color:  black;
  }
  .pages a:hover{
    color: #A01D2D;
  }
  a :visited{
    color: black;
    text-decoration: none;
  }
  .cv {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-right: 4%;
  }
  h1 {
    color: #A01D2D;
  }
  .leftcoloumn {
    width: 25%;
    margin-top: 4%;
  }
  .duo {
    margin-top: 4%;
  }
  .duo p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1%;
    margin-left: 3%;
  }
  .duo .subtitle {
    font-weight: normal;
    font-size: 1.3em;
    margin: 1%;
    margin-left: 3%;
  }
  .experience {
    margin-top: 10%;
  }
  .rightcoloumn {
    /* width: 25%; */
    margin-top: 4%;
  }
  .skills {
    margin-bottom: 8%;
  }
  .skills-container {
    margin-top: 5%;
  }
  .skills-container p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1%;
    margin-left: 3%;
  }
  .skills-container .subtitle {
    font-weight: normal;
    font-size: 1.3em;
    margin: 1%;
    margin-left: 3%;
  }
  .cv-image {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
